#main-display {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -90%);
}

.quote-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.word {
    display: flex;
    flex-direction: row;
}

.space {
    padding-right: 1em;
}

.punctuation {
    padding-right: 0.1em;
    padding-left: 0.1em;
}

.letter-input-stack {
    display: flex;
    flex-direction: column;
    margin-top: 1.4em;
    padding-right: 0.1em;
}

.letter-input {
    width: 1em;
    text-align: center;
    caret-color: transparent;
}

.letter-label {
    align-self: center;
    margin-top: 0;
}