#main-display {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -90%);
}

@media (max-width: 500px) {
    #main-display {
        width: 80%;
        position: relative;
        top: 0;
        transform: translate(-50%)
    }
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #a9a9a9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -90%)
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.quote-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.word {
    display: flex;
    flex-direction: row;
}

.space {
    padding-right: 1.2em;
}

.punctuation {
    padding-right: 0.1em;
    padding-left: 0.1em;
}

.letter-input-stack {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    padding-right: 0.15em;
}

.letter-input {
    width: 1em;
    text-align: center;
    caret-color: transparent;
}

.letter-label {
    align-self: center;
    margin-top: 0;
}