.quote-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.space {
    padding-right: 1em;
}

.punctuation {
    padding-right: 0.1em;
    padding-left: 0.1em;
}

.letter-input-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.4em;
    padding-right: 0.1em;
}

.letter-input {
    width: 1em;
    text-align: center;

}

.letter-label {
    align-self: center;
    margin-top: 0;
}